[submodule "ext/DirectXTK12"]
	path = ext/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12
[submodule "ext/DirectXTex"]
	path = ext/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "ext/oneTBB"]
	path = ext/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
